.weapon_crowbar .icon
{
    background-image: url( /ui/weapons/hl_crowbar.png );
}

.weapon_9mmhandgun .icon
{
    background-image: url( /ui/weapons/hl_pistol.png );
}

.weapon_357 .icon
{
    background-image: url( /ui/weapons/hl_357.png );
}

.weapon_mp5 .icon
{
    background-image: url( /ui/weapons/hl_smg.png );
}

.weapon_shotgun .icon
{
    background-image: url( /ui/weapons/hl_shotgun.png );
}

.weapon_crossbow .icon, .hl_crossbow_bolt .icon
{
    background-image: url( /ui/weapons/hl_crossbow.png );
}

.weapon_handgrenade .icon, .hl_handgrenade .icon
{
    background-image: url( /ui/weapons/hl_grenade.png );
}

.weapon_tripmine .icon, .hl_tripmine_planted .icon
{
    background-image: url( /ui/weapons/hl_tripmine.png );
}