.hl_pistol .icon
{
    background-image: url( /ui/weapons/hl_pistol.png );
}

.hl_shotgun .icon
{
    background-image: url( /ui/weapons/hl_shotgun.png );
}

.hl_smg .icon
{
    background-image: url( /ui/weapons/hl_smg.png );
}

.hl_crossbow .icon, .hl_crossbow_bolt .icon
{
    background-image: url( /ui/weapons/hl_crossbow.png );
}

.hl_357 .icon
{
    background-image: url( /ui/weapons/hl_357.png );
}

.hl_crowbar .icon
{
    background-image: url( /ui/weapons/hl_crowbar.png );
}

.hl_grenade .icon, .hl_handgrenade .icon
{
    background-image: url( /ui/weapons/hl_grenade.png );
}

.hl_tripmine .icon, .hl_tripmine_planted .icon
{
    background-image: url( /ui/weapons/hl_tripmine.png );
}