.weapon_crowbar .icon
{
    background-image: url( /ui/weapons/weapon_crowbar.png );
}

.weapon_9mmhandgun .icon
{
    background-image: url( /ui/weapons/weapon_pistol.png );
}

.weapon_357 .icon
{
    background-image: url( /ui/weapons/weapon_357.png );
}

.weapon_mp5 .icon
{
    background-image: url( /ui/weapons/weapon_smg.png );
}

.weapon_shotgun .icon
{
    background-image: url( /ui/weapons/weapon_shotgun.png );
}

.weapon_crossbow .icon, .weapon_crossbow_bolt .icon
{
    background-image: url( /ui/weapons/weapon_crossbow.png );
}

.weapon_rpg .icon
{
    background-image: url( /ui/weapons/weapon_rpg.png );
}

.weapon_handgrenade .icon, .weapon_handgrenade .icon
{
    background-image: url( /ui/weapons/weapon_grenade.png );
}

.weapon_tripmine .icon, .weapon_tripmine_planted .icon
{
    background-image: url( /ui/weapons/weapon_tripmine.png );
}

.weapon_gauss .icon
{
    background-image: url( /ui/weapons/weapon_gauss.png );
}

.weapon_egon .icon
{
    background-image: url( /ui/weapons/weapon_egon.png );
}

.weapon_snark .icon
{
    background-image: url( /ui/weapons/weapon_snark.png );
}

.weapon_satchel .icon
{
    background-image: url( /ui/weapons/weapon_satchel.png );
}

.weapon_hornetgun .icon
{
    background-image: url( /ui/weapons/weapon_hornetgun.png );
}