killfeed
{
	position: absolute;
	top: 16px;
	right: 16px;
	z-index: 100;
	flex-direction: column-reverse;
	width: 500px;
	font-family: "Trebuchet MS";
	font-size: 15px;
	font-weight: 500;
	align-items: flex-end;
}

KillFeedEntry
{
	background-color: rgba( black, 0.8 );
	margin-bottom: 5px;
	color: white;
	transition: all 0.2s ease-out;
	opacity: 1;
	flex-shrink: 0;
	flex-grow: 0;
	padding: 12px;
	height: 45px;
	position: relative;
	align-items: center;
	mix-blend-mode: lighten;

	&:intro
	{
		transform: scale( 2 );
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 0;
		height: 0;
		opacity: 0;
	}

	&:outro
	{
		top: -20px;
		opacity: 0;
		transform: scale( 1.1 );
		transition: all 0.2s ease-in;
	}

	.icon
	{
		width: 48px;
		height: 48px;
		background-repeat: no-repeat;
		background-position: center;
		background-image-tint: $orange;
		
	}

	.left, .right
	{
		padding: 0 12px;
		color: #fc0;

		&.me
		{
			font-weight: bold;
		}
	}

	.method
	{
		opacity: 0.3;
	}

	.message
	{
		color: #ccc;
		font-size: 14px;
		//	background-color: red;
		flex-grow: 1;
	}

	&.noname .name
	{
		display: none;
	}

	&.noavatar image
	{
		display: none;
	}

	&.died{
		.icon{
			background-image: url("/ui/weapons/killfeed/suicide.png");
		}
	}

	&.weapon_crowbar{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_crowbar.png");
		}
	}
	
	&.weapon_9mmhandgun{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_glock.png");
		}
	}

	&.weapon_357{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_python.png");
		}
	}

	&.weapon_mp5{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_mp5.png");
		}
	}

	&.smggrenade{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_grenade.png");
		}
	}

	&.weapon_shotgun{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_shotgun.png");
		}
	}

	&.hl_crossbow_bolt{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_crossbow.png");
		}
	}
	
	&.hl_rpg_rocket{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_rpg.png");
		}
	}

	&.weapon_gauss{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_gauss.png");
		}
	}

	&.weapon_gauss{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_gauss.png");
		}
	}

	&.weapon_egon{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_egon.png");
		}
	}

	&.hl_hornet{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_hgun.png");
		}
	}

	&.ggrenade{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_grenade.png");
		}
	}

	&.monster_satchel{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_satchel.png");
		}
	}

	&.monster_tripmine{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_tripmine.png");
		}
	}

	&.monster_snark{
		.icon{
			background-image: url("/ui/weapons/killfeed/weapon_snark.png");
		}
	}

	
}
