.scoreboard {
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: 'Trebuchet MS';
	font-size: 23px;
	color: white;
	width: 70%;
	height: 70%;
	left: 300px;
	top: 150px;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;
	background-size: 100% 100%;
	background-position: center center;
	background-color: rgba( 10, 10, 10, 0.8 );
	border: 2px solid rgba( 10, 10, 10, 0 );
	border-radius: 17px;

	&.open {
		opacity: 1;
	}

	.name {
		flex-grow: 1;
	}

	.deaths, .kills, .ping, .fps {
		width: 90px;
		text-align: right;
	}

	.ping, .fps {
		opacity: 0.3;
		width: 50px;
	}

	.deaths {
		margin-right: 50px;
	}

	.header {
		font-weight: 500;
		border-bottom: 3px solid #fc0;
		min-width: 80%;
		margin-bottom: 10px;
		padding-bottom: 5px;
		bottom: 70px;
		color: #fc0;
		mix-blend-mode: lighten;
	}

	.canvas {
		flex-direction: column;
		min-height: 50%;
		min-width: 30%;
		mix-blend-mode: lighten;

		.entry {
			mix-blend-mode: lighten;
			margin-bottom: 2px;
			min-width: 80%;
			padding: 4px 10px;
			color: #fc0;
			bottom: 70px;

			label {
				//text-shadow: 0px 0px 10px #f70a;
			}

			&.me {
				background-color: gray;
			}
		}
	}
}
