
$yellow: #ff0;
$orange: rgb(255, 196, 0);

@import "_crosshair.scss";
@import "_damageindicator.scss";
@import "_hitindicator.scss";
@import "_inventory.scss";
@import "_inventoryicon.scss";
@import "_killfeed.scss";
@import "_pickupfeed.scss";
@import "_scoreboard.scss";

HudRootPanel
{
    background-color: rgba( #333, 0 );
    transition: background-color 0.2s ease-in;
    transform-origin: 50% 50%;

    &.devcamera
    {
        display: none;
    }
}

vitals
{
    font-size: 64px;
    color: #ff0;
    mix-blend-mode: lighten;
    font-family: "Trebuchet MS";

    label
    {
        text-shadow: 0px 0px 20px #f70a;

        &.danger
        {
            color: #f00;
            text-shadow: 0px 0px 10px #f005;
        }
    }

}

.bottom-left
{
    left: 16px;
}

.bottom-right
{
    right: 16px;
}

.bottom-left, .bottom-right
{
    mix-blend-mode: lighten;
    position: absolute;
    bottom: 16px;
}

.top-middle
{
    top: 16px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    gamehud
    {
        font-family: Trebuchet MS;
        font-size: 20px;
        flex-direction: column;
        justify-content: center;

        .game-state
        {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
        }

        .game-timer
        {
            font-size: 32px;
        }
    }
}

iconpanel
{
    mix-blend-mode: lighten;
    background-color: $orange;
    margin-right:0px;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: center;
    background-position-y: center;
    background-image-tint: #fb0;
}

.seperator{
    opacity: 1;
    height: 32px;
    width: 32px;
    background-image: url("/ui/seperator.png");
    &.invisible
    {
        min-width: 0px;
        width: 0px;
    }
}

.bottom-right
{
    ammo
    {
        align-items: center;
        text-align: left;
        flex-direction: row;
        mix-blend-mode: lighten;
        font-family: "Trebuchet MS";
        

        label
        {
            opacity: 0.35;
            text-align: right;

            &.danger
            {
                color: #f00;
            }
        }
        
        .seperator 
        {
            right: 0px;
        }
    }
}

.altammocount, .ammocount, .inventory, .ammobar, healthhud, armourhud, gamehud
{
    
    font-family: "Trebuchet MS";
    font-size: 40px;
    color: $orange;
    text-shadow: 0px 0px 1px $orange;
    min-width: 64px;
    text-align: center;
    align-items: center;
    opacity: 1;
    &.invisible
    {
        min-width: 0px;
        width: 0px;
    }
}
.altammocount
{
    
    position: absolute;
    bottom: 48px;
    right: 0px;
    text-align: right;
    &.invisible
    {
        min-width: 0px;
        width: 0px;
    }
}

.inventory
{
    padding-left: 0px;
}



healthhud, armourhud
{

    margin-right:95px;
    iconpanel
    {
        margin-right:0px;
        text-align: left;
        height: 48px;
        width: 48px;
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0);
        background-position-x: center;
        background-position-y: center;
        background-image-tint: #fb0;

    }
    label
    {
        text-align: right;
        width: 65px;
    }
}

healthhud{

    .label
    {
        opacity: 0.35;
    }

    .icon
    {    
        opacity: 1;
        background-image: url("/ui/health.png");
    }
 

}


armourhud
{

    .label
    {
        opacity: 0.35;
    }
    
    .icon
    {
        opacity: 1;
        background-image: url("/ui/armour_empty.png");
        
    }
}

.game-end
{
    chatbox, .top-middle
    {
        z-index: 1000;
    }

    inventorybar, .bottom-right, .bottom-left
    {
        display: none;
    }
}
