NameTag {
	justify-content: center;
	align-items: center;
	mix-blend-mode:  lighten;

	.title {
		font-family: 'Trebuchet MS';
		font-size: 30px;
		white-space: nowrap;
		color: #fa2;
		mix-blend-mode: lighten;
	}

	.avatar {
		width: 32px;
		height: 32px;
		margin-right: 15px;
		border-radius: 100px;
		background-size: cover;
	}
}
