
.codegen/
obj/
code/accesslist.txt
.intermediate
tools_asset_info.bin
code/Properties/launchSettings.json
dm98.csproj
Properties/launchSettings.json
*.csproj
.vs
*.generated.*
*.vpcf_c
*.vtex_c
*.vmdl_c
*.vsnd_c
*.vpcf_c
