
.codegen/
obj/
code/accesslist.txt
.intermediate
tools_asset_info.bin
code/Properties/launchSettings.json
dm98.csproj
Properties/launchSettings.json
*.csproj
.vs
*.generated.*
*.vpcf_c
*.vtex_c
*.vmdl_c
*.vsnd_c
*.vpcf_c
*.vmat_c
*.sound_c
*.sound_c
*.vanmgrph_c
*.decal_c
*.surface_c
*.DS_Store
*.audiomat_c
*.pm_c
