﻿
<link href="/Resource/Styles/hud.scss" rel="stylesheet">
<root>

    <FlagUI>
        <div class="flags" style="flex-direction: column;">
            <div class="flag bm" style="">
                <img src="ui\op4\ctf\item_ctfflagh.png"></img>
                <text>0</text>
            </div>
    
            <div class="flag of">
                <img src="ui\op4\ctf\item_ctfflagh.png"></img>
                <text>0</text>
            </div>
        </div>
    </FlagUI>

    <div class="bottom-left">
        <HealthHud></HealthHud>
        <ArmourHud></ArmourHud>
    </div>

    <div class="bottom-right">
        <Ammo></Ammo>
    </div>
    <div class="top-middle">
        <GameHud></GameHud>
    </div>
</root>