<link rel="stylesheet" href="Resource/Styles/options.scss" />
<div>
    <div class="menupanel">
        <text class="optionstext">Options</text>
        <div class="menutabs">
            <div class="menutab">
                <text>General</text>
            </div>
        </div>
        <div class="maincontent">
            <checkbox class="crollangle" @checked="bCviewroll">Enable HL1 WON Viewroll</checkbox>
            <checkbox class="cragdoll">Enable ragdolls</checkbox>
            <checkbox class="chimodel">Enable HD models</checkbox>
            <checkbox class="chiaudio">Enable HD audio</checkbox>
            <checkbox class="csubtitle">Enable Subtitles</checkbox>
        </div>
    </div>
</div>