<link rel="stylesheet" href="Resource/Styles/options.scss" />
<root style="width: 512px; height: 406px;">

        <div class="menubar">
            <text class="optionstext">Options</text>
            <button class="dragbutton" onmousedown="down()" onmouseup="up()" onmousemove="Drag()"></button>
            <button class="closebutton" onclick="Close()">X</button>
        </div>

        <tabcontrol @activeTab="SortOrder">
            <tab tabName="general" slot="tab" tabtext="General">
                <div class="maincontent">
                    <checkbox class="cragdoll">Enable ragdolls</checkbox>
                    <checkbox class="csubtitle" @checked="bCliveupdate">Enable live setting updates</checkbox>
                </div>
            </tab>

            <tab tabName="video" slot="tab" tabtext="Video">
                <div class="maincontent">
                    <checkbox class="crollangle" @checked="bCviewroll">Enable HL1 WON Viewroll</checkbox>
                    <checkbox class="chimodel">Enable HD models</checkbox>
                    <checkbox class="clowviolence">Enable Low Violence</checkbox>
                    <checkbox class="csubtitle" @checked="bCsubtitle">Enable Subtitles</checkbox>
                    <text>Hud Scale</text>
                    <SliderScaleEntry min="0" max="5" step="0" mintext="Auto" maxtext="5.00" @value="fChudScale"></SliderScaleEntry>
                </div>
            </tab>

            <tab tabName="audio" slot="tab" tabtext="Audio">
                <div class="maincontent">
                    <checkbox class="chiaudio">Enable HD audio</checkbox>
                </div>
            </tab>

            <tab tabName="mp" slot="tab" tabtext="Multiplayer">
                <div class="maincontent">
                </div>
            </tab>

            <tab tabName="admin" slot="tab" tabtext="Admin">
                <div class="maincontent">
                </div>
            </tab>

            <tab tabName="test" slot="tab" tabtext="Test">
                <div class="maincontent">
                    <text>Label</text>
                    <button style="width:1px;">Button</button>
                    <checkbox>Checkbox</checkbox>
                    <text>Slider</text>
                    <SliderScaleEntry min="0" max="5" step="0.1" mintext="0.00" maxtext="5.00"></SliderScaleEntry>
                    <textentry placeholder="Text Entry" style="width:256px;"></textentry>
                    <select @value="ZIndex" style="width:128px;">
                        <option value="0">Drop Down</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <text>Colour Editor</text>
                    <ColorEditorRgba>e</ColorEditorRgba>
                </div>
            </tab>

        </tabcontrol>
        <div style="margin: 4px; justify-content: flex-end;">
            <button onclick="OK()" style="margin-left: 8px;">OK</button>
            <button onclick="Close()" style="margin-left: 8px;">Cancel</button>
            <button onclick="updateCvars()" style="margin-left: 8px;">Apply</button>
        </div>
</root>