<root style="width: 512px; height: 406px;" class="root">

        <div class="menubar">
            <text class="optionstext">Options</text>
            <button class="dragbutton" onmousedown="down()" onmouseup="up()" onmousemove="Drag()"></button>
            <button class="closebutton" onclick="Close()"></button>
        </div>

        <tabcontrol @activeTab="SortOrder">
            <tab tabName="general" slot="tab" tabtext="General">
                <div class="maincontent" style="padding: 40px;">
                    <check class="cragdoll" @checked="bCragdolls">Enable ragdolls</check>
                    <check class="cliveupdate" @checked="bCliveupdate">Enable live setting updates</check>
                    <check class="cguiscale" @checked="bCguiscale">Enable GUI rescaling</check>
                    <check class="cpixelfont" @checked="bCpixelfont">Enable GUI classic font.</check>
                    <button style="width:114px;" onclick="openTestdialog()">Open Test Dialog</button>
                </div>
            </tab>

            <tab tabName="video" slot="tab" tabtext="Video">
                <div class="maincontent" style="padding: 40px;">
                    <check class="crollangle" @checked="bCviewroll">Enable HL1 WON Viewroll</check>
                    <check class="coldtorch" @checked="bColdTorch">Enable classic Torch</check>
                    <check class="coldexplosion" @checked="bColdexplosion">Enable classic explosion effect</check>
                    <check class="chimodel" @checked="bChimodels">Enable HD models</check>
                    <check class="clowviolence">Enable Low Violence</check>
                    <check class="csubtitle" @checked="bCsubtitle">Enable Subtitles</check>
                    <text>HUD style</text>
                    <select @value="Shudstyle" style="width:128px;">
                        <option value="hl1">Half-Life</option>
                        <option value="op">Opposing Force</option>
                    </select>
                    <text>Hud Scale</text>
                    <SliderScaleEntry min="0" max="5" step="0" mintext="Auto" maxtext="5.00" @value="fChudScale"></SliderScaleEntry>
                </div>
            </tab>

            <tab tabName="audio" slot="tab" tabtext="Audio">
                <div class="maincontent" style="padding: 40px;">
                    <check class="chiaudio">Enable HD audio</check>
                </div>
            </tab>

            <tab tabName="mp" slot="tab" tabtext="Multiplayer">
                <div class="maincontent" style="padding: 40px;">
                    <text>Spraypaint image</text>
                    <select @value="bSsprayIcon" style="width:128px;">
                        <option value="8ball1">8ball1</option>
                        <option value="andre">andre</option>
                        <option value="camp1">camp1</option>
                        <option value="chick1">chick1</option>
                        <option value="chuckskull">chuckskull</option>
                        <option value="devl1">devl1</option>
                        <option value="gun1">gun1</option>
                        <option value="lambda">lambda</option>
                        <option value="splatt">splatt</option>
                        <option value="tiki">tiki</option>
                        <option value="v_1">v_1</option>
                    </select>

                    <select @value="bSsprayColour" style="width:128px;">
                        <option value="orange">Orange</option>
                        <option value="yellow">Yellow</option>
                        <option value="blue">Blue</option>
                        <option value="ltblue">Ltblue</option>
                        <option value="green">Green</option>
                        <option value="red">Red</option>
                        <option value="brown">Brown</option>
                        <option value="ltgray">Ltgray</option>
                        <option value="dkgray">Dkgray</option>
                    </select>

                    <text>Player model</text>
                    <select @value="bSplayerModel" style="width:128px;">
                        <option value="barney">barney</option>
                        <option value="gina">gina</option>
                        <option value="gman">gman</option>
                        <option value="gordon">gordon</option>
                        <option value="helmet">helmet</option>
                        <option value="hgrunt">hgrunt</option>
                        <option value="robo">robo</option>
                        <option value="scientist">scientist</option>
                        <option value="zombie">zombie</option>
                        <option value="player">player</option>
                        <option value="freeman">player head</option>

                    </select>
                </div>
            </tab>

            <tab tabName="vr" slot="tab" tabtext="VR">
                <div class="maincontent" style="padding: 40px;">
                    <check class="cvrpointer" @checked="bCvrpointer">Enable VR Pointer</check>
                    <text>Movement direction</text>
                    <select @value="ZIndex" style="width:128px;">
                        <option value="0">Head</option>
                        <option value="1">Hand</option>
                    </select>
                    <check class="cdesktopvrhud">Enable desktop HUD while in VR</check>
                </div>
            </tab>

            <tab tabName="admin" slot="tab" tabtext="Admin">
                <div class="maincontent" style="padding: 40px;">
                </div>
            </tab>

            <tab tabName="test" slot="tab" tabtext="Test">
                <div class="maincontent">
                    <text>Label</text>
                    <button style="width:1px;">Button</button>
                    <check>Checkbox</check>
                    <text>Slider</text>
                    <SliderScaleEntry min="0" max="5" step="0.1" mintext="0.00" maxtext="5.00"></SliderScaleEntry>
                    <textentry placeholder="Text Entry" style="width:256px;"></textentry>
                    <select @value="ZIndex" style="width:128px;">
                        <option value="0">Drop Down</option>
                        <option value="1">Option 2</option>
                        <option value="2">Option 3</option>
                    </select>
                    <text>Colour Editor</text>
                    <ColorEditorRgba>e</ColorEditorRgba>
                </div>
            </tab>

        </tabcontrol>
        <div style="margin: 4px; justify-content: flex-end;">
            <button onclick="OK()" style="margin-left: 8px;">OK</button>
            <button onclick="Close()" style="margin-left: 8px;">Cancel</button>
            <button onclick="updateCvars()" style="margin-left: 8px;">Apply</button>
        </div>
</root>