<root style="width: 512px; height: 406px;" class="root">

    <div class="menubar">
        <iconpanel class="panelicon"></iconpanel>
        <text class="optionstext">Spawn Menu</text>
        <button class="dragbutton" onmousedown="down()" onmouseup="up()" onmousemove="Drag()"></button>
        <button class="closebutton" onclick="Close()"></button>
    </div>

    <tabcontrol>
        <tab tabName="models" slot="tab" tabtext="Models">
            <div class="selectors">
                <label class="title">HALF-LIFE</label>
                <div class="span"></div>
                <tabcontrol class="selector">
                    <tab slot="tab" tabtext="Props"></tab>
                    <tab slot="tab" tabtext="Ragdoll"></tab>
                </tabcontrol>
            </div>
        </tab>
        <tab tabName="weapons" slot="tab" tabtext="Weapons">
            <div class="selectors">
                <label class="title">HALF-LIFE</label>
                <div class="span"></div>
                <tabcontrol class="selector">
                    <tab slot="tab" tabtext="Half-Life"></tab>
                    <tab slot="tab" tabtext="Other"></tab>
                </tabcontrol>
            </div>
        </tab>
        <tab tabName="entities" slot="tab" tabtext="Entities">
            <div class="selectors">
                <label class="title">HALF-LIFE</label>
                <div class="span"></div>
                <tabcontrol class="selector">
                    <tab slot="tab" tabtext="Ammo"></tab>
                    <tab slot="tab" tabtext="Items"></tab>
                </tabcontrol>
            </div>
        </tab>
        <tab tabName="npcs" slot="tab" tabtext="NPCs">
            <div class="selectors">
                <label class="title">HALF-LIFE</label>
                <div class="span"></div>
                <tabcontrol class="selector">
                    <tab slot="tab" tabtext="Aliens"></tab>
                    <tab slot="tab" tabtext="Black Mesa"></tab>
                    <tab slot="tab" tabtext="Military"></tab>
                </tabcontrol>
            </div>
        </tab>
        <tab tabName="assetparty" slot="tab" tabtext="Asset.Party">
            <div class="maincontent" style="padding: 40px;">
            </div>
        </tab>
    </tabcontrol>
    <div style="margin: 4px; justify-content: flex-end;">
        <button onclick="OK()" style="margin-left: 8px;">#PropertyDialog_OK</button>
        <button onclick="Close()" style="margin-left: 8px;">#PropertyDialog_Cancel</button>
        <button onclick="updateCvars()" style="margin-left: 8px;">#PropertyDialog_Apply</button>
    </div>
</root>