﻿
<link href="/Resource/Styles/team.scss" rel="stylesheet">
<root>
    <text>Select Your Side</text>

    <div class="teams">
        
        <div class="team" onclick="SelectTeam('bm')">
            <img src="/ui/op4/ctf/640_blackmesa.png" alt=""></img>
            <text>Black Mesa</text>
        </div>

        <div class="team" onclick="SelectTeam('of')">
            <img src="/ui/op4/ctf/640_opposingforce.png" alt=""></img>
            <text>Opposing Force</text>
        </div>

    </div>
</root>