<root style="width: 300px; height: 256px;" class="root">

    <div class="menubar">
        <iconpanel class="panelicon"></iconpanel>
        <text class="optionstext">Test Dialog</text>
        <button class="dragbutton" onmousedown="down()" onmouseup="up()" onmousemove="Drag()"></button>
        <button class="closebutton" onclick="Close()"></button>
    </div>
                <div class="maincontent">
                    <button>Hello I am a button!</button>
                    <button style="width:1px;">Button</button>
                    <checkbox>Checkbox</checkbox>
                    <text>Slider</text>
                    <SliderScaleEntry min="0" max="5" step="0.1" mintext="0.00" maxtext="5.00"></SliderScaleEntry>
                    <textentry placeholder="Text Entry" style="width:128px;"></textentry>
                </div>
</root>