.packagefilter
{
    width: 100%;
    margin-bottom: 40px;
    flex-shrink: 0;

    .left
    {
        flex-grow: 1;
        flex-shrink: 0;
        gap: 16px;
    }

    .right
    {
        flex-grow: 0;
        flex-shrink: 0;
        gap: 16px;

        textentry
        {
            width: 300px;
        }
    }
}

.packagefilterfacet, .packagefilter textentry
{
    background-color: rgba( black, 0.4 );
    padding: 4px 12px;
    gap: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 18px;

    .clear-button
    {
        height: 100%;
        margin-right: -16px;
        align-items: center;
        padding: 0px 12px;

        &:hover
        {
            background-color: white;
            color: #222;
        }
    }
}

.packagefilterfacet
{
    cursor: pointer;
    align-items: center;

    &.is-active
    {
        opacity: 1;
    }
}
