
MenuRootPanel {
    background-size: 100%;
    pointer-events: all;
    margin: 0px;
    padding: 0px;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.drawer {
    flex-direction: column;
    font-size: 24px;
    position: absolute;
    z-index: 3;
    background-color: transparent;
    width: 300px;
    height: 500px;
    top: -480px;
    transition: top 0.2s linear, background-color 0.2s linear;

    &:hover {
        background-color: dimgrey;
        top: 0px;
    }
}
.LockRes {

    .root {
        width: 1440px;
        height: 1080px;
    }

    .rootscreen {
        width: 1440px;
        height: 1080px;
    }
}
.root {
    background-size: 100%;
    background-image: url("ui/splash.png");
    width: 100%;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    color: white;
    padding-top: 157px;
    height: 100%;
    overflow:hidden;
}
.rootscreen {
    background-size: 100%;
    background-image: url("ui/splash.png");
    width: 100%;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    color: white;
    padding-top: 118px;
    height: 100%;
    overflow: hidden;
}
.img {
    background-image: url("ui/logo.png");
    background-size: 100%;
    width: 100%;
    height: 223px;
    opacity: 1;
    background-repeat: no-repeat;
    margin-bottom: 28px;
}
.title {
    font-size:128px;
    padding-bottom: 86px;
}
.titlescreen {
    color: yellow;
    filter: blur(2px);
    text-shadow: 
    // I'm so sorry
        0px 0px 6px orange, 
        0px 0px 5px orange, 
        0px 0px 4px orange, 
        0px 0px 3px orange, 
        0px 0px 2px orange, 
        0px 0px 1px orange, 
        0px 0px 7px orange, 
        0px 0px 8px orange, 
        0px 0px 9px orange, 
        0px 0px 10px orange, 
        0px 0px 10px orange, 
        0px 0px 10px orange, 
        0px 0px 10px orange, 
        0px 0px 10px red, 
        0px 0px 3px yellow, 
        0px 0px 1px yellow, 
        0px 0px 1px yellow;
    filter: blur(7px);
    padding-left: 128px;
    font-size: 128px;
    padding-bottom: 50px;
}
.controls {
    padding-left: 170px;
    flex-direction: column;
}
.controlsscreen {
    padding-left: 128px;
    flex-direction: column;
}
.sub {
    font-size: 24.5px;
    bottom: 0px;
    margin-top: 8px;
    color: dimgrey;
}

.WantsNewButton {
    .button {
        color: #F0B43F;

        &:hover {
            transition: 
                color 0s linear, 
                text-shadow 0s linear;
            color: #FFFF54;
            text-shadow: 
                0px 0px 6px orange, 
                0px 0px 5px orange, 
                0px 0px 3px orange, 
                0px 0px 3px orange, 
                0px 0px 2px #FFFF54;
        }
        
        &.justcl {
            transition: 
                top 0.2s linear, 
                left 0.2s linear, 
                transform 0.2s linear;
            transform: scale(3.415);
        
            color: #FFFF54;
            text-shadow: 
                0px 0px 6px orange, 
                0px 0px 5px orange, 
                0px 0px 3px orange, 
                0px 0px 3px orange, 
                0px 0px 2px #FFFF54;
        }
    }
}
.button {
    min-width: 360px;
    font-size: 37.5px;
    color: #FFBA08;
    transition: 
        color 0.7s linear, 
        text-shadow 0.7s linear;
    margin-bottom: 25px;

    &:hover {
        transition: 
            color 0s linear, 
            text-shadow 0s linear;
        color: yellow;
        text-shadow: 
            0px 0px 6px orange,
            0px 0px 5px orange, 
            0px 0px 3px yellow, 
            0px 0px 3px yellow, 
            0px 0px 2px yellow;
    }

    &:active {
        color: black;
    }

    &.justcl {
        transition: 
            top 0.2s linear, 
            left 0.2s linear, 
            transform 0.2s linear;
        transform: scale(3.415);
        
        color: yellow;
        text-shadow: 
            0px 0px 6px orange, 
            0px 0px 5px orange, 
            0px 0px 3px yellow,
            0px 0px 3px yellow, 
            0px 0px 2px yellow;
    }

    &.justcldwn {
        transition: 
            top 0.2s linear, 
            left 0.2s linear, 
            transform 0.2s linear;
    }

    &.inst {
        transition: all 0s linear;
    }
}

.checkbox {
    min-width: 24px;
    height: 19px;
    margin-bottom: 6px;
    cursor: pointer;

    .checkpanel, iconpanel {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        border: 3px solid rgba(103,100,88,255);
        border-radius: 1px;
        margin-right: 8px;
        color: white;

        .checklabel {
            transform: translate(-3 -5);
            font-family: Webdings;
            font-size: 22px;
            color: transparent;
        }
    }

    .label {
        margin-right: 10px;
        color: #cfd6ca;
    }

    > .checkmark {
        padding: 1px;
        font-size: 32px;
        //border: 3px solid $primary;
        border-radius: 2px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: transparent;
        min-height: 32px;
        margin-right: 10px;
        pointer-events: none;
        cursor: pointer;
    }

    &.checked {

        .label {
            margin-right: 10px;
            color: #c4b550;
        }

        > .checkpanel, .iconpanel {
            .checklabel {
                font-family: Webdings;
                font-size: 34px;
                color: white;
            }
        }

        > .checkmark {
            //color: $primary-alt;
            color: white;
            background-color: transparent;
        }
    }

    &:active {
        color: gray;
        transform: scale(1);
    }

    &:hover {
    }
}

.spraysection{
    flex-direction: column;
    position: absolute;
    //width: 100%;
    margin-left: auto;
    left: 480px;
    bottom: 430px;
    > .label{
        font-size: 32px;
        font-family: arial;
        margin-bottom: 12px;
    }

    .sprays{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #393839;
        height: 278px;
        width: 222px;
        padding: 6px;

        .sprayholder{
            width: 100%;
            height: 208px;
            justify-content: center;
            align-items: center;
            background-color: #000000;

            img{
                height: 70%;
                width: 70%;
            }
        }

        .butt{
            flex-direction: row;
            justify-content: space-between;
            width: 95%;

            .button{
                margin-bottom: 3px;
                padding-bottom: 0%;
                min-width: auto;
                font-size: 28px;
                font-family: arial;
            }

        }
    }
}

.pmsection{
    flex-direction: column;
    position: absolute;
    //width: 100%;
    margin-left: auto;
    right: 190px;
    bottom: 216px;
    > .label{
        font-size: 32px;
        font-family: arial;
        margin-bottom: 12px;
    }

    .pm{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #393839;
        height: 495px;
        width: 380px;
        padding: 6px;

        .pmholder{
            width: 100%;
            height: 420px;
            justify-content: center;
            align-items: center;
            background-color: #000000;

            img{
                height: 90%;
                width: 90%;
            }
        }

        .butt{
            flex-direction: row;
            justify-content: space-between;
            width: 95%;

            .button{
                margin-bottom: 3px;
                padding-bottom: 0%;
                min-width: auto;
                font-size: 28px;
                font-family: arial;
            }

        }
    }
}