
MenuRootPanel {
    background-image: url("ui/splash.png");
    background-size: cover;
    pointer-events: all;
    margin: 0px;
    padding: 0px;
}
.root {
    width: 100%;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    color: white;
    padding-top: 156px;
    height: 100%;
}
.rootscreen {
    width: 100%;
    flex-direction: column;
    font-family: 'Trebuchet MS';
    color: white;
    padding-top: 118px;
    height: 100%;
}
.img {
    background-image: url("ui/logo.png");
    background-size: cover;
    width: 100%;
    height: 224px;
    background-repeat: no-repeat;
    margin-bottom: 28px;
}
.title {
    font-size:128px;
    padding-bottom: 86px;
}
.titlescreen {
    color: yellow;
    filter: blur(2px);
    text-shadow: 0px 0px 6px orange, 0px 0px 5px orange, 0px 0px 4px orange, 0px 0px 3px orange, 0px 0px 2px orange, 0px 0px 1px orange, 0px 0px 7px orange, 0px 0px 8px orange, 0px 0px 9px orange, 0px 0px 10px orange, 0px 0px 10px orange, 0px 0px 10px orange, 0px 0px 10px orange, 0px 0px 10px red, 0px 0px 3px yellow, 0px 0px 1px yellow, 0px 0px 1px yellow;
    filter: blur(7px);
    padding-left: 128px;
    font-size: 128px;
    padding-bottom: 50px;
}
.controls {
    padding-left: 170px;
    flex-direction: column;
}
.controlsscreen {
    padding-left: 128px;
    flex-direction: column;
}
.sub {
    font-size: 24.5px;
    bottom: 0px;
    margin-top: 8px;
    color: dimgrey;
}
.button {
    min-width: 360px;
    font-size: 37.5px;
    color: #FFBA08;
    transition: all 0.7s linear;
    margin-bottom: 25px;

    &:hover {
        transition: all 0s linear;
        color: yellow;
        text-shadow: 0px 0px 6px orange, 0px 0px 5px orange, 0px 0px 3px yellow, 0px 0px 3px yellow, 0px 0px 2px yellow;
    }

    &:active {
        color: black;
    }

    &.justcl {
        transition: all 0.2s linear;
        transform: scale(4);
        top: -300px;
        left: 550px;
    }
}

