@using Sandbox.UI
@inherits BaseMenuScreen

<root class="rootscreen"> 
	<label class="titlescreen">Customize</label>
	<div class="controlsscreen">
		<div>
            <button onmousedown=@BaseButtonClick onclick=@(( PanelEvent e ) => Done(e.This))>Done</button>
		</div>
	</div>

	<div class="spraysection">
		<label>Spraypaint Image</label>
		<div class="sprays">

			<div class="sprayholder">
				<img src="/ui/menu/spray/lambda.png" alt=""></img>
			</div>
			

			<div class="butt">
				<button>Previous</button>
				<button>Next</button>
			</div>
		</div>
	</div>

	<div class="pmsection">
		<label>Player Model</label>
		<div class="pm">

			<div class="pmholder">
				<img src="/ui/menu/playermodel/gordon.png" alt=""></img>
			</div>
			

			<div class="butt">
				<button>Previous</button>
				<button>Next</button>
			</div>
		</div>
	</div>
</root>

@code{
	public void Done( Panel p )
	{
		Delete();
		var a = Parent.AddChild<Multiplayer>();
		BaseButtonClickDown( p, a, true, "Customize" );
	}
}
