@using Sandbox.UI
@inherits BaseMenuScreen
﻿
<root class="rootscreen">
    <label class="titlescreen">Multiplayer</label>
    <div class="controlsscreen">
        <div>
            <button onmousedown=@BaseButtonClick onclick=@(( PanelEvent e ) => InternetGames(e.This))>Internet games</button>
            <label class="sub">View a list of Half-Life game servers and join the one of your choice.</label>
        </div>
        <div>
            <button onmousedown=@BaseButtonClick onclick=@(( PanelEvent e ) => Customize(e.This))>Customize</button>
            <label class="sub">Choose your player name, and select visual options for your character.</label>
        </div>
        <div>
            <button onmousedown=@BaseButtonClick onclick=@(( PanelEvent e ) => Done(e.This))>Done</button>
            <label class="sub">Go back to the Main Menu.</label>
        </div>
    </div>
</root>

@code{
	public async void InternetGames( Panel p )
	{
		await BaseButtonClickUp( p );
		Parent.AddChild<InternetGames>();
		Delete();
	}

	public async void Customize( Panel p )
	{
		await BaseButtonClickUp( p );
		Parent.AddChild<MPCustomize>();
		Delete();
	}
	public void Done( Panel p )
	{
		Delete();
		var a = Parent.AddChild<Menu>();
		BaseButtonClickDown( p, a, true, "Multiplayer" );
	}
}
